* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #3d087b;
}
.leftclock {
  position: absolute;
  top: 5%;
  left: 5%;
}

.right-clock {
  top: 7%;
  position: absolute;
  display: flex;
  background-color: #ffffff;
  height: 15vh;
  width: 678px;
  border-radius: 15px;
  left: 45%;
}

.fletter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 19px;
  font-size: 35px;
}
.hourp {
  position: absolute;
  left: 20%;
  top: 16%;
  font-size: 3rem;
}
.hours {
  position: absolute;
  left: 19%;
  top: 60%;
  font-size: 2rem;
}
.colon {
  position: absolute;
  left: 33.5%;
  top: 40%;
  font-size: 23px;
}
.space {
  margin-right: 21px;
}
.minp {
  position: absolute;
  left: 39%;
  top: 18%;
  font-size: 3rem;
}
.min {
  position: absolute;
  left: 39%;
  top: 60%;
  font-size: 2rem;
}
.colons {
  position: absolute;
  left: 52.5%;
  top: 40%;
  font-size: 23px;
}
.spaces {
  margin-right: 21px;
}
.sec {
  position: absolute;
  left: 58.5%;
  top: 16%;
  font-size: 3rem;
}
.secs {
  position: absolute;
  left: 59.5%;
  top: 60%;
  font-size: 2rem;
}
.colon1 {
  position: absolute;
  left: 72%;
  top: 40%;
  font-size: 23px;
}
.am {
  position: absolute;
  left: 76.5%;
  top: 29%;
  font-size: 3rem;
}
.mainbox2 {
  position: absolute;
  background-color: white;
  height: 40%;
  width: 38%;
  top: 20%;
  margin-left: 3%;
  padding: 1%;
  border-radius: 14px;
}

.firstcontainer {
  display: flex;
}
.secondcontainer {
  display: flex;
}
.thirdcontainer {
  display: flex;
}
.forthcontainer {
  display: flex;
}
.line {
  font-size: 2rem;
  margin-left: 2.6%;
  opacity: 0.3;
}
.wtime {
  margin-left: 5%;
  color: #3d087b;
}
.option {
  margin-left: 18%;
  width: 70%;
}
#sbox {
  width: 70%;
  height: 90%;
  text-indent: 30%;
  font-size: 1rem;
  color: #3d087b;
  border-radius: 8px;
}
.rightbox {
  position: absolute;
  background-color: #ffffff;
  height: 15vh;
  width: 678px;
  top: 26%;
  left: 45%;
  border-radius: 12px;
}
.sectext {
  margin: 6%;
  font-size: 2rem;
  color: #8e53f0;
}
.imgbox {
  position: absolute;
  top: 43%;
  left: 45%;
}

.mainimg {
  width: 127%;
}

.leftbox {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.2);
  height: 7vh;
  width: 38%;
  margin-left: 3%;
  top: 67%;
  padding: 1%;
  border-radius: 14px;
}
.leftboxtext {
  color: #ffffff;
  margin: 1.9%;
  font-size: 2rem;
}
.setbox {
  background: transparent
    linear-gradient(113deg, #6e54ec 0%, #cb52f8 40%, #fc5eff 81%, #f1a7c5 100%);
  position: absolute;
  width: 19%;
  height: 8vh;
  margin-left: 3%;
  border-radius: 4px;
  top: 79%;
}

.setboxtext {
  font-size: 2rem;
  color: #ffffff;
  text-align: center;
  margin-top: 5%;
}
.rightsetbox {
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  width: 19%;
  height: 14vh;
  top: 79%;
  margin-left: 23%;
  border-radius: 9px;
}
.textsb{
  color: #F25CFE;
  margin: 3%;
}